@property --gradient-start-color {
    syntax: "<color>";
    inherits: true;
    initial-value: #7bdaaa;
}

@property --gradient-end-color {
    syntax: "<color>";
    inherits: true;
    initial-value: #4aa9c4;
}

@font-face {
  font-family: "Milker";
  src: url("fonts/Milker.otf") format("otf");
}

* {
  box-sizing: border-box;
}

:root {
  --text: #211d27;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }

  --gradient-midpoint: 50%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

#app {
  width: 100vw;
  max-width: 100vw;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-sizing: border-box;

  padding: 20px 0px;
  background: linear-gradient(to right, var(--gradient-start-color), var(--gradient-end-color) var(--gradient-midpoint));
}

#spacer {
  height: 88px;
  border-top: 1px solid var(--border);
  @media (max-width: 1024px) {
    height: 48px;
  }
}

.ticks {
  position: relative;
  width: 100%;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: -4.5px;
    border: 5px solid transparent;
  }

  &::before {
    left: 0;
    border-left-color: var(--border);
  }
  &::after {
    right: 0;
    border-right-color: var(--border);
  }
}

/* */

@keyframes displayAndFadeOut {
  0% {
    display: block;
    opacity: 100%;
  }

  80% {
    display: block;
    opacity: 100%;
  }

  100% {
    display: none;
    opacity: 0%;
  }
}

@keyframes slideRightAndFadeIn {
  0% {
    transform: perspective(300px) translateX(-67px) translateZ(20px);
    opacity: 0%;
  }

  100% {
    transform: translateX(0px) translateZ(0px);
    opacity: 100%;
  }
}

.display-and-fade-out {
    display: block;
    animation: displayAndFadeOut 5s forwards;
}

.slide-right-and-fade-in {
  transform: perspective(367px);
  animation: slideRightAndFadeIn 1.2s ease-out forwards
}

.bolded {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.horizontal-flex {
  display: flex;
  flex-direction: row;
  gap: 10px;

  align-items: center;
  justify-content: center;
}

.vertical-flex {
  display: flex;
  flex-direction: column;
  gap: 10px;

  align-items: center;
}

.glass {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.blending-shadow {
  text-shadow: 3px 3px 9px rgba(0, 0, 0, 0.15);
}

.title-text {
  font-size: 120px;
  line-height: 167%;

  font-family: "Milker", var(--sans);
}

.splash-text {
  color: yellow;
  font-size: 150%;
  line-height: 140%;
}

#form {
  width: 500px;
  max-width: 80vw;
  height: 150px;
  min-height: min-content;

  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  grid-template-areas: 
    "min-tier max-tier"
    "username username"
    "submit submit";
  align-content: space-around; */

  display: flex;
  flex-direction: column;
  gap: 10px;

  border-radius: 10px;
  border: 3px solid rgba(0, 0, 0, 0.616);

  padding: 15px 25px 65px 25px;
}

#submit-button {
  position: absolute;
  left: 0%;
  bottom: 0%;
  right: 0%;
  margin: 0 auto;

  height: 50px;

  color: #fbf5ff;
  background-color: #6b6b6b2f;

  font-size: large;
  font-weight: bolder;

  border-radius: 0px 0px 10px 10px;
}

#submit-button:hover {
  text-decoration: underline;
  color: #42ffe6;
  background-color: #5a6e7441;
}

.text-field {
  height: 30px;
}

.small-text-field {
  width: 50px;

  font-size: large;
  text-align: center;
}

.medium-text-field {
  width: 95px;

  font-size: large;
  text-align: center;
}

.large-text-field {
  width: 167px;

  font-size: large;
  text-align: center;
}

#recommendations-container {
  width: 1300px;
  max-width: 80vw;
  display: none;

  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-areas:
    "title title";
  place-items: center;
}

#recommendations-container > h2 {
  grid-area: title;
}

#recommendations-container > * {
  max-width: calc(100% - 5px);
}

.level-card {
  width: 640px;
  height: 295px;

  border-radius: 30px;
  border: 3px solid rgba(0, 0, 0, 0.25);

}

.tier-enjoyment-display {
  position: absolute;
  top: 0%;
  right: 0%;

  display: flex;
  flex-direction: row;
}

.rating-value {
  padding: 15px;
}

.skills-display {
  position: absolute;
  left: 0%;
  bottom: 0%;

  margin-left: 15px;
  margin-bottom: 15px;

  border-radius: 10px;
  border: inherit;

  padding: 5px 14px;

  max-width: calc(100% - 5px);
}

#error-message-text {
    display: none;
    color: red;
}
